$bg-dark: #19242c;
// $bg-dark: #253541;
$bg-light: #395264;
$border-dark: #0f161b;
$primary: #cad8e2;
$secondary: #f2f5f8;
$accent-dark: #568f8e;
$accent-overlay: rgba(143, 188, 187, 0.6);
$accent-light: #8fbcbb;
$white: #fff;
$black: #000;

// $accent-dark: #725ede;
// $accent-overlay: rgba(114, 94, 222, 0.6);
// $accent-light: #9a8de3;
